<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Appointment Bar Line Chart -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Car Wash Lists</h4>

                            <div class="heading-elements">
                                <button class="btn btn-info btn-min-width mr-1 mb-3" (click)="openDialog()"> Register
                                    Car Wash</button>
                            </div>
                        </div>
                        <div class="card-content collapse show"><br>
                            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                            <div style="margin:10px 0px 0px 10px;" class="example-form ml-">
                                <mat-form-field appearance="outline">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                                </mat-form-field>
                            </div>


                          
                                <table mat-table [dataSource]="dataSource" matSort>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let row;let i = index"> {{1+i}} </td>
                                    </ng-container>

                                      <!-- Name Column -->
                                      <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                    </ng-container>

                                    <!-- Progress Column -->
                                    <ng-container matColumnDef="location">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                                        <td mat-cell *matCellDef="let row"> {{row.location}} </td>
                                    </ng-container>

                                           <!-- Progress Column -->
                                           <ng-container matColumnDef="number">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
                                            <td mat-cell *matCellDef="let row"> {{row.contactNumber}} </td>
                                        </ng-container>

                                    <!-- Fruit Column -->
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                    </ng-container>

                                       <!-- Fruit Column -->
                                       <ng-container matColumnDef="website">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Website </th>
                                        <td mat-cell *matCellDef="let row"> {{row.website}} </td>
                                    </ng-container>

                                       <!-- Fruit Column -->
                                       <ng-container matColumnDef="workingHours">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Working Hours </th>
                                        <td mat-cell *matCellDef="let row"> {{row.workingHours}} </td>
                                    </ng-container>

                                       <!-- Fruit Column -->
                                       <ng-container matColumnDef="latitude">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
                                        <td mat-cell *matCellDef="let row"> {{row.latitude}} </td>
                                    </ng-container>

                                       <!-- Fruit Column -->
                                       <ng-container matColumnDef="longitude">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
                                        <td mat-cell *matCellDef="let row"> {{row.longitude}} </td>
                                    </ng-container>

                                       <!-- Fruit Column -->
                                       <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
                                        <td mat-cell *matCellDef="let row"> 
                                            <button class="btn btn-info" (click)="openDialog2(row)">Edit</button>
                                         </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"
                                    aria-label="Select page of users"></mat-paginator>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<!-- END: Content-->



<ng-template #distributionDialog>
    <app-card title="Add Car Wash">
        <hr>
        <form [formGroup]="carWashForm">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input matInput placeholder="Number" formControlName="contactNumber">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Website</mat-label>
                        <input matInput placeholder="Website" formControlName="website">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Location</mat-label>
                        <input matInput placeholder="Location" formControlName="location">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Working Hours</mat-label>
                        <input matInput placeholder="Working Hours" formControlName="workingHours">
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Latitude</mat-label>
                        <input matInput placeholder="Latitude" formControlName="latitude">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Longitude</mat-label>
                        <input matInput placeholder="Longitude" formControlName="longitude">
                    </mat-form-field>
                </div>
            </div>
        </form><br><br>

        <div class="card-bottom">
            <button mat-raised-button matDialogClose="yes">Cancel</button> &nbsp;
            <button mat-raised-button color="primary" matDialogClose="yes" (click)="onSubmit()" [disabled]="!carWashForm.valid">Add</button>
        </div>

    </app-card>
</ng-template>




<ng-template #distributionDialog2>
    <app-card title="Edit Car Wash">
        <hr>
        <form [formGroup]="carWashEditForm">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name" required>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input matInput placeholder="Number" formControlName="contactNumber" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
              
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Website</mat-label>
                        <input matInput placeholder="Website" formControlName="website">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Location</mat-label>
                        <input matInput placeholder="Location" formControlName="location" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
               
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Working Hours</mat-label>
                        <input matInput placeholder="Working Hours" formControlName="workingHours" required>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Latitude</mat-label>
                        <input matInput placeholder="Latitude" formControlName="latitude" required>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Longitude</mat-label>
                        <input matInput placeholder="Longitude" formControlName="longitude" required>
                    </mat-form-field>
                </div>
            </div>
        </form><br><br>

        <div class="card-bottom">
            <button mat-raised-button matDialogClose="yes">Cancel</button> &nbsp;
            <button mat-raised-button color="primary" matDialogClose="yes" (click)="onEdit()">Edit</button>
        </div>

    </app-card>
</ng-template>